background
  width 180
  height 177
  padding-top 10
  padding-bottom 90

  div
    display inline

#up
  margin-bottom 10

#work
  display inline
  width 22
  height 15
  margin 0 15

#output
  display inline