background
  width 177
  height 180
  padding-top 10
  padding-bottom 90

#work
  progress-direction bottom
  width 15
  height 22
  margin 8 0

#energy
  progress-style rect
  width 80%
  height 4
  progress-text true
  progress-text-location bottom