mask
    background
        title(value = "i18n:tile.mi.compressor.name")
        backpack#player
        div
            slot#up
            slot#down(index = 1)
        progress#work
        output#output(index = 2)