mask
    background
        title(value = "i18n:tile.mi.compressor.name")
        div
            div
                slot#up
                slot#down(index = 1)
            progress#work
            output#output(index = 2)
        backpack#player