mask
    background
        title(value = "i18n:tile.mi.fire_power.name")
        backpack#player
        div
            slot#input
            progress#burn
            output#output(index = 1)
        progress#energy