mask
    background
        title(value = "i18n:tile.mi.muffle_furnace.name")
        div
            div
                slot#input
                burn#burn
                slot#fuel(index = 1)
            progress#work
            output#output(index = 2)
        backpack#player