background
  width 180
  height 120
  padding-top 8

  #show
    display inline
    margin-bottom 9
    align-horizontal left

    progress
      progress-style rect
      width 65%
      height 6
      margin 1 2

    p
      margin-top 2
      margin-left 2

  button
    display inline
    width 20
    height 25
    margin-left 3