background
  width 177

  div
    margin 3 0

#work
  progress-direction bottom
  width 15
  height 22
  margin 8 0

#energy
  progress-style rect
  width 80%
  height 4
  progress-text true
  progress-text-location bottom